@size: 150px;
body {
    -webkit-text-size-adjust: 100%;
}

.tile {
	width: @size;
	height: @size;
	position: relative;
	float:left;
	margin-left: 5px;
	margin-top: 5px;

	img {
		border:0;
		max-width: @size;
		max-height: @size;
	}

	span.count {
		font-size: 11pt;
		color: white;
		background-color: black;
		text-align: center;
		vertical-align: middle;
		position: absolute; top:0; right:0;
		width: 20px;
		height: 18px;
  		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  		opacity: 0.70;
	}
	span.date {
		font-size: 11pt;
		color: white;
		background-color: black;
		text-align: right;
		vertical-align: middle;
		position: absolute; bottom:30px; right:0;
		width: 90px;
		height: 18px;
  		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  		opacity: 0.70;
	}

}
#inline_content {
	position: absolute;
	bottom:0;
	right:0;
	z-index :99999;
	div div {
		float:left;
		
	}
	div:after{
		content: "";
		clear: both;
		display:block;
	}
	textarea{
		color:black!important;
		width: 90%;
	}
}

.loading {
	display: none;
	height: 200px;
	width: 200px;
	position: absolute;
	top:50%;
	right:50%;
	background:url(images/loading.gif) no-repeat center center;
}

.nodisp:after {
	font-size: 10pt;
	content:"非表示";
	color: white;
	background-color: black;
	text-align: center;
	vertical-align: middle;
	position: absolute; top:20px; right:0;
	width: 55px;
	height: 20px;
  		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  		opacity: 0.80;
}

