@(title: String)(content: Html)(implicit session:Session)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/swipebox.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="@routes.Assets.at("javascripts/ios-orientationchange-fix.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.swipebox.js")" type="text/javascript"></script>
    </head>
    <body>
    		<h1>yakimashi</h1>
            @session.get(Security.username) match {
                case Some(name) => {
                    welcome @name !
                    <a href="/label">ラベル編集</a>
                    <a href="/albums">アルバム一覧</a>
                    <a href="/logout">ログアウト</a>
                }
                case None => {}
            }
    		<hr>
        @content
    </body>
</html>
