@(name:String, photos: Seq[(models.Photo, Option[java.util.Date])], label:Seq[models.Label])(implicit session:Session)
@import helper._

@noDisp(flg:Boolean) = {@if(flg){nodisp}else{ }}

@main(name) {
		<script src="@routes.Assets.at("javascripts/photo.js")" type="text/javascript"></script>
		<div>@name	<span id="print"></span>枚&nbsp;
			<input type="checkbox" id="zero"/><label for="zero">0枚の写真を隠す</label>
			&nbsp;
			<input type="checkbox" id="nodisp_check"/><label for="nodisp_check">非表示の写真を表示</label>
			&nbsp;
			<filedset>
				<select id="sheet">@for(l <- label){<option value="@l.id">@l.name</option>}</select>&gt;
				<input id="sheetbutton" type="button" value="選択した人の写真を見る">
			</filedset>
			&nbsp;
			<input id="command" type="button" value="コマンドを見る(作者用)">
		</div>
   @for(photo <- photos) {
   		<div class="tile @noDisp(photo._1.noDisp)">
   			<a href="@routes.Assets.at(photo._1.url)" title="@photo._1.comment">
	   			<img src="@routes.Assets.at(photo._1.url)" alt="@photo._1.comment">
	   		</a>
			<span class="count">@photo._1.count</span>
	   		@photo._2 match {
	   			case Some(d) =>{<span class="date">@String.format("%tY/%tm/%td", d, d, d)</span>}
	   			case None => {}
	   		}
   		</div>
   }
   <!-- This contains the hidden content for inline calls -->
	<div style='display:none'>
		<div id='inline_content'>
			<input type="hidden" id="album">
			<input type="hidden" id="name">
			<input type="hidden" id="id" >
			<fieldset><legend>プリント対象</legend>
			<div>
			@for(l <- label) {
				<div><input type="checkbox" id="label_@l.id" name="@l.id"><label for="label_@l.id">@l.name</label>
				</div>
			}
			</div>
			その他<select id="etc">
				@for(i <- 0 to 10) { <option value="@i">@i</option>}
			</select>
			<br>
			<input id="noDisp" type="checkbox" /><label for="noDisp">非表示にする</label>
			</fieldset>
			<fieldset><legend>コメント</legend>
				<textarea rows="3" id="comment"></textarea>
			</fieldset>
		</div>
	</div>
}
