@(name:String, photos:Seq[models.Photo], labal:models.Label, labels:Seq[models.Label])(implicit session:Session)
@import helper._

@main(name) {
		<script src="@routes.Assets.at("javascripts/sheet.js")" type="text/javascript"></script>
		<div>@name:"@labal.name"に送る写真 &nbsp;
		&nbsp;
			<filedset>
				<select id="sheet">@for(l <- labels){<option value="@l.id">@l.name</option>}</select>&gt;
				<input id="sheetbutton" type="button" value="選択した人の写真を見る">
			</filedset>
		</div>
   @for(photo <- photos) {
   		<div class="tile">
   			<a href="@routes.Assets.at(photo.url)" class="swipebox">
	   			<img src="@routes.Assets.at(photo.url)" alt="@photo.comment">
	   		</a>
   		</div>
   }
}
